.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

header .trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

main #evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main #div-eval-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main #div-eval-form input , main #div-eval-form select {
  margin-top: 15px;
}

main #div-eval-form #input-name {
  width: 45%;
}

main #div-eval-form #input-lastname {
  width: 45%;
  margin-left: 3%;
}

main #div-eval-form #input-email {
  width: 45%;
}

main #div-eval-form #house {
  width: 45%;
  margin-left: 3%;
}

main #trybewarts-forms-logo {
  height: 500px;
}
